@import "./base.css";

@font-face {
  font-family: "Jersey";
  src: url("@/assets/fonts/Jersey15-Regular.ttf") format("truetype");
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

:root{
  --app-yellow: #F5FF6C;
  --app-magenta: #FF39D7;
  --app-purple: #A98CEE;
  --app-blue: #67CCFF;
  --gradient: linear-gradient(to right,  var(--app-blue), var(--app-purple), var(--app-magenta), var(--app-yellow));
  --top-down-gradient: linear-gradient(var(--app-blue), var(--app-purple), var(--app-magenta), var(--app-yellow));

}

.gradiant{
	background-image: var(--gradient) !important
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
